
.app__skills {
  display: felx;
  flex: 2;
  width: 100%;
}
.app_skills-parentContainer{
   min-height: 100%;
   margin: auto;
   display: flex;
   flex-direction: column;
}

.head-text{
  margin-top:1rem;
}

.app__skills-container {

  width: 90%;
  margin: auto;
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;


  @media screen and (max-width: 1000px) {
    width: 100%;
    flex-direction: column;
  }
}

.app__skills-list {
  width:50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;


  @media screen and (max-width: 1000px) {
    width:100%;
    justify-content: center;
    align-items: center;
  }
}

.app__skills-item {

  flex-direction: column;
  text-align: center;
  margin: 1rem;
  flex: 1 1 25%;     // Default: Each item takes up 30% of the container width
  

  transition: all 0.3s ease-in-out;

  div {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #fef4f5;

    img {
      width: 50%;
      height: 50%;
    }

    &:hover {
      box-shadow: 0px 0px 25px #8383833c;
    }
   
    @media screen and (min-width: 1800px) {
      width: 150px;
      height: 150px;
    }

    @media screen and (max-width: 450px) {
      width: 70px;
      height: 70px;
    }
    @media screen and (max-width: 1000px) {
      flex: unset;      // Removes the flex property, no width restriction
    }
  }

  p {
    font-weight: 500;
    margin-top: 0.5rem;
  }

  @media screen and (min-width: 2000px) {
    margin: 1rem 2rem;

    p {
      margin-top: 1rem;
    }
  }
}

.app__skills-exp {
  display: flex;

  justify-content: center;
  align-items: flex-start;
  flex-direction: column; 

  // padding-left:1rem;


  @media screen and (max-width: 1000px) {
    margin:auto;
    margin-top: 2rem;
    padding:0 auto;
  }
  
}

.app__skills-exp-item {
  // width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

}




.app__skills-exp-year {
  margin: auto;
  margin-right: 3rem;
  margin-left:0;


  p {
    font-weight: 800;
    color: var(--secondary-color);
  }

  @media screen and (max-width: 450px) {
    margin-right: 1rem;
  }
}

.app__skills-exp-work {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;

  h4 {
    font-weight: 500;
  }

  p {
    font-weight: 400;
    color: var(--gray-color);
    margin-top: 5px;
  }
}

.app__skills-exp-timeline{
  width: 1px;
  height:20%;
  background-color: var(--secondary-color);
  
}

.skills-tooltip {
  max-width: 300px !important;
  background-color: var(--white-color) !important;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1) !important;
  border-radius: 5px !important;
  padding: 1rem !important;
  color: var(--gray-color) !important;
  text-align: center !important;
  line-height: 1.5 !important;
  opacity: 1 !important;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem !important;
    max-width: 500px !important;
    line-height: 2 !important;
  }
}